<mat-card>
  <form (ngSubmit)="onAddPost()" #f="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        placeholder="Post Title"
        ngModel
        required
        minlength="3"
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid"
        ><p>Please Enter the post title!</p>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="6"
        name="content"
        placeholder="Post Content"
        ngModel
        required
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid"
        ><p>Please enter Content!</p>
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit"
      [disabled]="f.invalid"
    >
      Save
    </button>
  </form>
</mat-card>
